body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  margin: 0;
}

.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: whitesmoke;
  margin: 0;
}

.Auth-form {
  width: 400px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 10%;
  padding-right: 10%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.custom-dropdown {
  text-align: left;
  height: 35px;
  margin-left: 40px;
}

.custom-searchbar {
  margin-right: -80px;
}

.item-card {
    max-width: 300px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    margin-bottom: 25px;
}

.item-card img {
    transition: all 0.25s linear;
    filter: brightness(75%);
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.item-card .profile-content {
    position: relative;
    padding: 11px;
    background-color: #FFF;
}

.item-card .profile-name {
    font-weight: bold;
    position: absolute;
    left: 0px;
    right: 0px;
    top: -30px;
    color: #FFF;
    font-size: 22px;
    text-shadow: 2px 2px 2px black;
    overflow: hidden;
    text-overflow: clip;
    height: 30px;
    padding-left: 2px;
    padding-right: 2px;
}

.item-card .profile-name p {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1.5px;
}

.item-card .profile-description {
    color: #666;
    font-size: 14px;
    height: 46px;
    padding: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-card .profile-overview {
    padding: 10px 10px;
    font-size: 14px;
}

.item-card .profile-overview p {
    font-size: 10px;
    font-weight: 600;
    color: #777;
}

.item-card .profile-overview h4 {
    color: #273751;
    font-weight: bold;
}

.item-card .profile-content::before {
    content: "";
    position: absolute;
    height: 20px;
    top: -10px;
    left: 0px;
    right: 0px;
    background-color: #FFF;
    z-index: 0;
    transform: skewY(3deg);
}

.item-card:hover img {
    transform: rotate(3deg) scale(1.1, 1.1);
    filter: brightness(100%);
}

/* .item-card .card-action {
    position: relative;
    float: right;
    margin-top: -255px;
    margin-right: 230px;
    z-index: auto;
    color: #E26D5C;
    background: #fff;
    border-radius: 100%;
    padding: 15px;
    font-size: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.item-card .card-action:hover {
    color: #fff;
    background: #E26D5C;
} */
