/* global */

.app-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;
}

/* utility */
.spacer {
    height: 100px;
}

.whitey {
    color: white;
}

.whitey-shadow {
    color: white;
    text-shadow: 1px 1px 3px grey;
    padding: 3px;
}

.black-shadow {
    color: black;
    background-color: white;
}

.pinklink a {
  color: hotpink;
  text-decoration: none;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 1rem;
}

.truncate-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    font-style: italic;
    min-height: 35px;
    max-height: calc(2 * 1.5em);
}

/* hero image stuff */
.hero-text {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%);
  color: white;
  width: 80%;
  font-size: 1.1em;
}

.hero-text a {
  color: hotpink;
  text-decoration: none;
  /* background-color: transparent;
  color: white;
  padding: 10px 16px;
  text-align: center;
  display: inline-block;
  border: 1px solid; */
}

.simple-link a {
  color: rgb(249, 155, 213);
  text-decoration: none;}

.eventlistpage-top-text{
  background-color: rgba(0, 0, 0, 0.864);
  margin-left: 10rem;
  margin-right: 10rem;
  border-radius: 0%;
}

.eventlistpage-bottom-text{
  background-color: rgba(0, 0, 0, 0.858);
  margin-left: 32rem;
  margin-right: 32rem;
  border-radius: 20%;
  text-align: center;
  font-size: large;
  font-weight: 500;
}

.hero-text a:hover, a:active {
  /* background-color: white; */
  color: white;
}

.hero-image {
  background-image: url("https://images.pexels.com/photos/14583017/pexels-photo-14583017.jpeg");
  /* background-image: url("https://images.pexels.com/photos/1647962/pexels-photo-1647962.jpeg"); */
  background-color: #cccccc;
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image-events {
  background-image: url("https://images.pexels.com/photos/4577179/pexels-photo-4577179.jpeg");
  background-color: #cccccc;
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image-search {
  background-image: url("https://i.imgur.com/AJU8JRb.jpeg");
  background-color: #cccccc;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-bottom: 1px solid black;
}

.hero-image-description {    /* this is for parallax needs js to match
  /* background-image: url("https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg"); */
  /* background-image: url("https://images.pexels.com/photos/2170473/pexels-photo-2170473.jpeg"); */
  /* background-image: url("https://images.pexels.com/photos/1025469/pexels-photo-1025469.jpeg"); */
  background-image: url("https://images.pexels.com/photos/2847648/pexels-photo-2847648.jpeg");
  background-color: #cccccc;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid hotpink;
  background-color: rgb(156, 72, 72);
}

.hero-text-description { /* this is for parallax needs js to match */
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%);
  color: white;
  width: 80%;
  transition: height 0.4s;
}

/* profile page things */
.hero-image-profile {
  background-image: url("https://images.pexels.com/photos/4040648/pexels-photo-4040648.jpeg");
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
  z-index: 1;
  border-bottom: 1px solid black;
}

.container .user-profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 1px solid black;
}

.container--profile {
  z-index: 2;
  margin-top: -75px;
}

.blackandwhite {
    filter: grayscale(60%);
    -webkit-filter: grayscale(60%);
    transition: 2s;
}

.blackandwhite:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    transition: 2s;
}
.arrow-button:focus {
  border-color: transparent !important;
  color: black !important;
  box-shadow: 0 0 5px #000 !important;
  outline: none !important;
  margin-left: 10px !important;
}

.item-card-b {
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  margin-bottom: 30px;
}

.item-card-b img {
  width: 100%;
  height: 260px;
  object-position: center;
  object-fit: cover;
}

.shine-wrapper {
  position: relative;
  overflow: hidden;
}

.shine-wrapper::before {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 100%);
  content: "";
  display: block;
  height: 100%;
  left: -75%;
  position: absolute;
  top: 0;
  transform: skewX(-25deg);
  width: 50%;
  z-index: 2;
}

.shine-wrapper:hover::before {
  animation: shine 0.85s;
}

.card.title {
  height: 100px !important;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

/* Forms */
.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: transparent;
}

.Auth-form {
  width: 90%;
  max-width: 400px;
  padding: 3% 1%;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
}

.Auth-form-content {
  padding: 0 5%;
}

.Auth-form-title {
  color: #777;
  font-family: 'Oswald', sans-serif;
  font-size: 8vw;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  margin: 0 0 30px;
  padding: 0 0 2px;
  border-bottom: 1px solid hotpink;
}

.Auth-form input::placeholder, .Auth-form textarea::placeholder {
  color: #bbb;
}

.Auth-form .checkbox {
  height: 17px;
  width: 17px;
  margin: 0 1px 0 0;
  border: 2px solid #FF97A8;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  transition: all 0.3s ease 0s;
}

.Auth-form .checkbox:before {
  content: '';
  height: 5px;
  width: 10px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(-45deg);
  position: absolute;
  left: 2px;
  top: 2.5px;
  transition: all 0.3s ease;
  opacity: 0;
}

.Auth-form .checkbox:checked {
  background-color: #FF97A8;
}

.Auth-form .checkbox:checked:before {
  opacity: 1;
}

.Auth-form .checkbox:focus {
  outline: none;
}

.Auth-form .check-label, .forgot {
  color: #999;
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  vertical-align: top;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.forgot {
  width: 38%;
  text-align: right;
  font-size: 12px !important;
}

.forgot:hover {
  text-decoration: underline;
}

.auth-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.remember-me {
  display: flex;
  align-items: center;
}

/* Media Queries for larger screens */
@media (min-width: 600px) {
  .Auth-form-title {
    font-size: 36px;
  }

  label {
    font-size: 14px;
  }

  .forgot {
    font-size: 10px;
  }
}

.custom-dropdown {
  text-align: left;
  height: 35px;
}

.item-card {
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  margin-bottom: 30px;
  transform-origin: center center;
}

.item-card img {
  transition: transform 1.5s, filter 1s ease-in-out;
  filter: brightness(70%);
  width: 100%;
  height: 280px;
  object-position: center;
  object-fit: cover;
}

.item-card .profile-content {
  position: relative;
  padding: 11px;
  background-color: #FFF;
}

.item-card .profile-name {
  font-weight: bold;
  position: absolute;
  left: 0px;
  right: 0px;
  top: -60px;
  color: #FFF;
  font-size: 22px;
  text-shadow: 2px 2px 5px black;
  overflow: hidden;
  text-overflow: clip;
  height: 90px;
  padding-left: 2px;
  padding-right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-card .profile-name p {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1.5px;
}

.item-card .profile-description {
  color: #666;
  font-size: 14px;
  height: 46px;
  padding: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-card .profile-overview {
  padding: 8px 10px;
  font-size: 14px;
}

.item-card .profile-overview p {
  font-size: 10px;
  font-weight: 600;
  color: #777;
}

.item-card .profile-overview h2 {
  color: #273751;
  font-weight: bold;
}

.item-card .profile-content::before {
  content: "";
  position: absolute;
  height: 35px;
  top: -12px;
  left: 0px;
  right: 0px;
  background-color: #FFF;
  z-index: 0;
  transform: skewY(2deg);
  overflow: none;
}

.item-card:hover img {
  transform: scale(1.15);
  filter: brightness(105%);
}

/* comment field */
.suggestions-container {
  margin-top: 20px;
}

.suggestion-card {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.suggestion-card .profile-pic-container {
  margin-right: 12px;
  width: 51px;
  height: 51px;
  overflow: hidden;
  flex-shrink: 0;
}

.profile-pic-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 3px;
}

.suggestion-card .comment-content {
    flex-grow: 1;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EEE;
    padding: 2px;
    border-radius: 4px;
    width: 100%;
}

.comment-author {
  font-weight: 600;
  margin-left: 5px;
}

.comment-datetime {
  font-size: 0.8em;
  color: #888;
}

.comment-content p {
  margin: 1px 0 0 5px;
}

.custom-card-body {
  padding: 10px !important;
}

/* error pages */
.btn.custom-button {
  background-color: hotpink;
  color: white;
  border: 2px solid hotpink;
}

.btn.custom-button:hover {
  background-color: white;
  color: hotpink;
  border: 2px solid hotpink;
}


.full-width-container {
  width: 100%;
  box-sizing: border-box;
}

.thumbnail-container {
  cursor: pointer;
}

.thumbnail-image {
  max-width: 100%;
  height: auto;
}

.modal-image {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* chris event */
.forminputcb1 {
/* *,
*::before{
  content: 'check!'
};
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }; */
  position: flex;
  width: 80%;
  height: 3rem;
  border: 4px solid aliceblue;
  border-radius: 40px;
  padding-left: 0.8rem;
  background: none;
  margin-left: 0%;
  margin-top: 4%;
  margin-right: 3%;
  margin-bottom: 4%;
  background-color: #273e5386;
  transition: margin-top 500ms ease-in,
  margin-left 500ms ease-in,
  margin-bottom 500ms ease-in,
  margin-right 500ms ease-in,
  padding-left 500ms ease-in,
  height 500ms ease-in,
  width 500ms ease-in,
  border 400ms ease-in,
  background-color 600ms ease-in,
  color 500ms linear,
  font-size 500ms linear;
  color: rgb(239, 166, 221);
}

.forminputcb1select {
/* *,
*::before{
  content: 'check!'
};
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }; */
  position: flex;
  width: 80%;
  height: 3rem;
  border: 4px solid aliceblue;
  border-radius: 40px;
  padding-left: 0.8rem;
  background: none;
  margin-left: 0%;
  margin-top: 4%;
  margin-right: 3%;
  margin-bottom: 4%;
  transition: margin-top 500ms ease-in,
  margin-left 500ms ease-in,
  margin-bottom 500ms ease-in,
  margin-right 500ms ease-in,
  padding-left 500ms ease-in,
  height 500ms ease-in,
  width 500ms ease-in,
  border 400ms ease-in,
  background-color 600ms ease-in,
  color 500ms linear,
  font-size 500ms linear;
  color: rgb(239, 166, 221);
  background-color: #273e5386;
}

.forminputcb1datetime {
/* *,
*::before{
  content: 'check!'
};
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }; */
  position: flex;
  width: 80%;
  height: 3rem;
  border: 4px solid aliceblue;
  border-radius: 40px;
  padding-left: 1rem;
  padding-right: 0rem;
  background: none;
  margin-left: 0%;
  margin-top: 4%;
  margin-right: 3%;
  margin-bottom: 4%;
  transition: margin-top 500ms ease-in,
  margin-left 500ms ease-in,
  margin-bottom 500ms ease-in,
  margin-right 500ms ease-in,
  padding-left 500ms ease-in,
  height 500ms ease-in,
  width 500ms ease-in,
  border-width 400ms ease-in,
  background-color 600ms ease-in,
  padding-right 500ms linear,
  font-size 500ms linear;
  color: rgb(239, 166, 221);
  color-scheme: dark;
  background-color: #273e5386;
}

.forminputcb1select:hover{
  /* border-color: rgb(238, 42, 218); */
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  height: 4.5rem;
  width: 29.5rem;
  border: 5px solid rgb(238, 42, 218);
  background-color: #000;
  font-size: larger;
}

.forminputcb1select:focus{
  border-color: rgb(248, 149, 238);
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  height: 4.5rem;
  width: 29.5rem;
  border-width: 3.5px;
  background-color: #000;
  color: white;
  font-size: large;
}

.forminputcb1select:hover ~ .event-label{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 6rem;
}

.forminputcb1select:focus ~ .event-label{
  visibility: hidden;
  opacity: 0;
}

.forminputcb1:hover{
  /* border-color: rgb(248, 246, 248); */
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  height: 4.5rem;
  width: 29.5rem;
  border: 5px solid rgb(238, 42, 218);
  background-color: #000;
  font-size: larger;
  padding-left: 3rem;
}

.forminputcb1datetime:hover{
  border-color: rgb(238, 42, 218);
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  height: 4.5rem;
  width: 29.5rem;
  border-width: 3.5px;
  background-color: #000;
  padding-right: 4rem;
  padding-left: 3rem;
  font-size: large;
}


.forminputcb1:focus{
  border-color: rgb(248, 149, 238);
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  height: 4.5rem;
  width: 29.5rem;
  border-width: 3.5px;
  background-color: #000;
  color: white;
  font-size: large;
  padding-left: 3rem;
}

.forminputcb1datetime:focus{
  border-color: rgb(248, 149, 238);
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  height: 4.5rem;
  width: 29.5rem;
  border-width: 3.5px;
  background-color: #000;
  font-size: large;
}

.forminputcb1:hover ~ .event-label{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 6rem;
}

/* .forminputcb1:hover {
  color: aliceblue
} */

.forminputcb1datetime:hover ~ .event-label{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 6rem;
}

.forminputcb1datetime:focus ~ .event-label{
  background-color: black;
  border-radius: 10px;
  color: white;
  padding-left: .5rem;
  padding-right: .5rem;
}

.forminputcb1:focus ~ .event-label{
  background-color: black;
  border-radius: 10px;
  color: white;
  padding-left: .5rem;
  padding-right: .5rem;
}

.event-label {
  font-size: 14px;
  font-weight: 300;
  color: aliceblue;
  transition: visibility 500ms, opacity 500ms linear,
  background-color 400ms ease-in;
  position: absolute;
  left: 6rem;
  bottom: 4rem;
  padding: 1px;
  background-color: rgba(37, 25, 117, 0);
  border-radius: 10px;
  padding-left: .5rem;
  padding-right: .5rem;
  text-shadow: 1px 5px 2px rgb(12, 2, 11), 0 0 1em rgb(2, 2, 35), 0 0 0.2em rgb(1, 1, 24);
}

/* .event-label:hover {
  position:absolute;
} */

.outerforminputcb1{
  *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  border: 4px solid none;
  width: 100%;
  border-radius: 0px;
  padding: 0px;
  background: transparent;
  height: 5rem;
  display: flex;
  flex-direction: row-reverse;
  min-width: 30rem;
  position: relative;
  margin-bottom: 5px;
  max-width: 30rem;
}

.event-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(236, 227, 227);
  font-weight: 800;
  margin-left: 2.8em;
  /* text-shadow: rgb(18, 3, 19) 1px 0 10px; */
  text-shadow: 1px 5px 2px rgb(12, 2, 11), 0 0 1em rgb(2, 2, 35), 0 0 0.2em rgb(1, 1, 24);
}

.event-whitey-shadow {
  margin-left: 2em;
  color: white;
  text-shadow: 1px 1px 3px grey;
  padding: 3px;
  /* text-shadow: rgb(18, 3, 19) 1px 0 10px; */
  text-shadow: 1px 2px 2px rgb(12, 2, 11), 0 0 1em rgb(2, 2, 35), 0 0 0.2em rgb(1, 1, 24);
  margin-bottom: 1em;
}

.event-edit-header1 {
  color: white;
  text-shadow: 1px 1px 3px grey;
  padding: 3px;
  /* text-shadow: rgb(18, 3, 19) 1px 0 10px; */
  text-shadow: 1px 2px 2px rgb(12, 2, 11), 0 0 1em rgb(2, 2, 35), 0 0 0.2em rgb(1, 1, 24);
  margin-bottom: 1em;
  line-height: 170%;
}

.Event-Create-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding-top: 100px;
  font-family: inherit;
}

.Event-Create-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding-top: 100px;
  font-family: inherit;
}

.Event-Create-form-container input::placeholder {
  color: rgb(172, 172, 237);
  transition: top 200ms ease-in,
  left 200ms ease-in;
}


/* .outerforminputcb1:hover{
  border-color: rgb(248, 149, 238);
}

.outerforminputcb1:focus{
  border-color: rgb(248, 149, 238);
} */

/* Chat page */

.chatpage-stylepage {
    height: 500px;
    overflow-y: scroll;
    border: solid black 3px;
    padding: 10px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 10%;
}

.chatpage-spacing {
  margin-top: 10rem;
}

.socket-chat-header1 {
  margin-left: 10rem;
}

.socket-chat-input-box {
  position: relative;
}

.socket-chat-input-button {
  position: relative;
}

.socket-chat-send-container {
  margin-top: 10rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  background-color: #000;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  max-width: 28.5rem;
  padding-left: 2rem;
}

/* SECOND CHAT WIDGET STYLES */

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
/* html, body {
	margin: 0;
	padding: 0;
	background: #181b21 url(https://www.toptal.com/designers/subtlepatterns/patterns/nami.png);
	font-family: 'Quicksand', sans-serif;
	letter-spacing: -0.23px;
} */
.chatApp__loaderWrapper {
	margin: 80px auto;
	text-align: center;
}
.chatApp__loaderText {
	color: #4870df;
	font-weight: bold;
}
.chatApp__loader,
.chatApp__loader::before,
.chatApp__loader::after {
	border-radius: 1em;
	width: 1em;
	height: 1em;
	animation-fill-mode: both;
	animation: loading 1.8s infinite ease-in-out;
}
.chatApp__loader {
	margin: auto;
	color: #4870df;
	font-size: 12px;
	position: relative;
	animation-delay: -0.16s;
}
.chatApp__loader::before,
.chatApp__loader::after {
	content: '';
	position: absolute;
	top: 0;
}
.chatApp__loader::before {
	left: -1.5em;
	animation-delay: -0.32s;
}
.chatApp__loader::after {
	left: 1.5em;
}
.chatApp__room {
	display: flex;
	align-content: flex-start;
	justify-content: center;
	padding: 5rem 20rem;
	animation: fadeChatApp 0.6s ease-in-out;
	animation-fill-mode: forwards;
}
.chatApp__conv {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	float: left;
	margin: 0 2.5rem;
	box-shadow: 0 35px 20px -30px rgba(0,0,0,0.1);
  background-color: hotpink;
}
.chatApp__convTitle {
	display: inline-block;
	margin: 0 0 2rem 0;
	font-size: 18px;
	font-weight: bold;
	color: #f0f0f0;
	text-transform: uppercase;
	position: relative;
}

.chatApp__convTimeline {
	display: flex;
	height: 400px;
	padding: 1rem;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: #fff;
	flex-direction: column;
	overflow-y: auto;
}
.chatApp__convMessageItem {
	padding: 1rem 0 0 0;
	opacity: 0;
	transition: all 0.15s ease-in-out;
	animation: fadeNewMessage 0.5s;
	animation-fill-mode: forwards;
}
.chatApp__convMessageAvatar {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	image-rendering: -webkit-optimize-contrast;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.chatApp__convMessageValue {
	position: relative;
	max-width: 50%;
	min-height: 40px;
	padding: 0.75rem;
	border-radius: 4px;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	box-shadow: 0px 10px 10px -8px rgba(0,0,0,0.08);
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
}

.chatApp__convSendMessage {
	position: relative;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background-color: #fff;
}
.chatApp__convSendMessage {
	padding: 1rem;
}
.chatApp__convInput {
	float: left;
  position: relative;
	height: 40px;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 40px;
	width: 75%;
	background-color: #dedfed;
	box-shadow: inset 0 0 0 2px #dedfed;
	font-size: 14px;
	transition: 0.15s all ease-in-out;
	box-sizing: border-box;
}
.chatApp__convInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #b1b1b1;
	opacity: 1;
}
.chatApp__convInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #b1b1b1;
}
.chatApp__convInput::-ms-input-placeholder { /* Microsoft Edge */
	color: #b1b1b1;
}
.chatApp__convInput:focus, .chatApp__convInput:active {
	box-shadow: inset 0 0 0 2px #7690d6;
}
.chatApp__convInput:focus {
	outline: none;
}
.chatApp__convButton {
	float: right;
	position: relative;
	width: 25%;
	height: 40px;
	cursor: pointer;
	padding: 8px;
	border-radius: 30px;
	color: #fff;
	background-color: #4870df;
	text-align: center;
	box-shadow: 0px 14px 10px -8px rgba(0,0,0,0.2);
	transition: 0.15s all ease-in-out;
	box-sizing: border-box;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.chatApp__convButton:hover {
	background-color: #3c559c;
}
.chatApp__convButton i {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 0 0 1px;
	font-size: 22px;
}
.chatApp__convButton--loading {
	cursor: wait;
	background-color: #4870df;
}
.chatApp__convButton--loading:hover {
	background-color: #4870df;
}
.chatApp__convButton--loading::before, .chatApp__convButton--loading::after {
	content: '';
	position: absolute;
	z-index: 1;
	display: block;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 8px;
	height: 8px;
	margin: auto;
	border-radius: 40px;
	background-color: #fff;
}
.chatApp__convButton--loading::after {
	animation: loadSendMessage 1.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}
.chatApp__convButton--loading i {
	display: none;
}
.chatApp__convSendMessage--typing .chatApp__convTyping {
	display: block;
}
.chatApp__convTyping {
	position: absolute;
	top: 0;
	font-size: 10px;
	font-weight: bold;
}
.chatApp__convTypingDot {
	position: relative;
	left: 4px;
	display: inline-block;
	width: 2px;
	height: 2px;
	background-color: #606060;
	animation: typingMessage 1.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.chatApp__convTypingDot::before, .chatApp__convTypingDot::after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 2px;
	height: 2px;
	background-color: #606060;
	animation: typingMessage 1.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.chatApp__convTypingDot::before {
	left: 4px;
	animation-delay: 0.5s;
}
.chatApp__convTypingDot::after {
	left: 8px;
	animation-delay: 1s;
}
@media screen and (max-width:768px) {
	.chatApp__room { flex-wrap: wrap; padding: 2rem 1rem; }
	.chatApp__conv { flex-basis: 100%; min-width: auto; width: 100%; margin: 0; }
	.chatApp__conv:first-of-type { margin: 0 0 4rem 0; }
}
@keyframes loading {
	0%, 80%, 100% { box-shadow: 0 1em 0 -1.3em; }
	40% { box-shadow: 0 1em 0 0; }
}
@keyframes fadeChatApp {
	0% { opacity: 0; transform: translateY(1rem); }
	100% { opacity: 1; transform: translateY(0px); }
}
@keyframes fadeNewMessage {
	0% { opacity: 0; transform: translateY(1rem); }
	100% { opacity: 1; transform: translateY(0px); }
}
@keyframes loadSendMessage {
	0% { opacity: 1; width: 4px; height: 4px; }
	100% { opacity: 0; width: 100%; height: 100%; }
}
@keyframes typingMessage {
	0% { background-color: #606060; }
	50% { background-color: #fff; }
	60% { background-color: #606060; }
}


.event-detail-header{
  display: flex;
  position: relative;
  justify-content: center;
}

.eventdetail-header2{
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.btn.event-edit-custom-button:hover {
    background-color: hotpink;
    color: white;
    border: 2px solid hotpink;
}

.btn.event-edit-custom-button {
    background-color: white;
    color: rgba(3, 3, 3, 0.887);
    border: 2px solid hotpink;
    font-weight: 400;
}

.btn.event-edit-cancel-button {
  margin-left: 40px;
  margin-right: 40px;
  background-color: rgb(47, 46, 87);
  color: rgb(255, 254, 255);
  text-shadow: #000, 1, 8, 9 ;
  border: 2px solid hotpink;

}

.btn.event-edit-cancel-button:hover {
   background-color: rgb(251, 251, 251);
    color: hotpink;
    border: 2px solid rgb(11, 11, 11);
}

.btn.event-edit-custom2-button {
  margin-left: 40px;
  margin-right: 40px;
    background-color: white;
    color: rgba(3, 3, 3, 0.887);
    border: 2px solid hotpink;
    font-weight: 400;
}

.btn.event-edit-custom2-button:hover {
    background-color: hotpink;
    color: white;
    border: 2px solid hotpink;
}
