@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&family=Poppins:wght@300;400;500;600;700&display=swap');

/* Global */
body {
  font-family: 'Poppins', 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

a {
    text-decoration: none !important;
}

/* logo */
.logo {
    transition: filter 1.5s ease;
}

.logo:hover {
    filter: sepia(1) saturate(1000%) brightness(50%) hue-rotate(90deg);
}

/* expanded navbar */
.navbar {
  padding-top: 30px;
  padding-bottom: 30px;
  background: rgba(50, 50, 50, 0.15);
  color: rgba(50, 50, 50, 0.15);
  transition: all 0.5s;
}

.navbar a,
.navbar .navbar-nav .nav-link.dropdown-toggle,
.navbar .navbar-nav .dropdown-menu a {
    color: #fff !important;
}

.navbar button {
  color: inherit !important;
}

.navbar.compressed {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #000000;
  color: #000000;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid hotpink;
}

.navbar.compressed .navbar-nav .dropdown-menu {
  background-color: #000000;
  border: 1px solid hotpink;
}

.navbar.compressed .navbar-nav .dropdown-menu a {
  color: #fff;
}

.navbar.compressed .navbar-nav .dropdown-menu a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar .navbar-nav .nav-item {
  padding-right: 12px;
}

.navbar .navbar-nav > .nav-item.dropdown > .nav-link::before {
  display: none;
}

.navbar .navbar-nav > .nav-item:not(.dropdown) > .nav-link {
  position: relative;
}

.navbar .navbar-nav > .nav-item:not(.dropdown) > .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: white;
  transition: width 0.5s ease;
}

.navbar .navbar-nav > .nav-item:not(.dropdown) > .nav-link:hover::before {
  width: 85%;
}

/* Styles for dropdown items */
.navbar .navbar-nav .dropdown-menu a {
  position: relative;
}

.navbar .navbar-nav .dropdown-menu a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: white;
  transition: width 0.5s ease;
}

.navbar .navbar-nav .dropdown-menu a:hover::before {
  width: 85%;
}

.navbar-padding {
  padding: 1% 20%;
}

.navbar .navbar-nav .dropdown-menu {
  background: rgba(50, 50, 50, 0.15);
  border: none;
}

.navbar .navbar-nav .dropdown-menu a:hover {
  background: rgba(50, 50, 50, 0.25);
}

.navbar .navbar-nav .dropdown-menu .active {
  background: rgba(50, 50, 50, 0.25);
}

.navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: transparent !important;
}

/* navbar collapser */
.navbar-toggler-icon {
  background-image: none!important;
  background-color: hotpink;
  height: 3px;
  width: 25px;
  margin: 10px 0;
  position: relative;
  transition: all 0.35s ease-out;
  transform-origin: center;
}

.navbar-toggler-icon::before {
  display: block;
  background-color: hotpink;
  height: 3px;
  content: "";
  position: relative;
  top: -7px;
  transition: all 0.15s ease-out;
  transform-origin: center;
}

.navbar-toggler-icon::after {
  display: block;
  background-color: hotpink;
  height: 3px;
  content: "";
  position: relative;
  top: 4px;
  transition: all 0.35s ease-out;
  transform-origin: center;
}

.navbar-dark .navbar-toggler-icon,
.navbar-dark .navbar-toggler-icon::before,
.navbar-dark .navbar-toggler-icon::after {
  background-color: var(--bs-gray-100);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  transform: rotate(45deg);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
  transform: rotate(-90deg) translateX(7px);
}


@media only screen and (max-width: 992px) {
  .navbar .navbar-nav > .nav-item:not(.dropdown) > .nav-link::before,
  .navbar .navbar-nav .dropdown-menu a::before {
    content: none;
  }

  .navbar {
    background: rgba(50, 50, 50, 0.65);
  }

  .navbar .navbar-nav > .nav-item:not(.dropdown) > .nav-link {
    transition: background-color 0.3s ease;
  }

  .navbar .navbar-nav > .nav-item:not(.dropdown) > .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border-radius: 5px;
  }

  /* For dropdown items */
  .navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item {
    transition: background-color 0.3s ease;
  }

  .navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border-radius: 5px;
  }
}

/* footer */
.main-footer{
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  flex-shrink: 0;
  font-size: 16px;
  background-color: black !important;
  border-top: 1px solid hotpink;
}

.main-footer .col-sm-7 {
    text-align: right;
    padding-top: 8px;
}

.main-footer .col-sm-5 {
    text-align: left;
}

.main-footer .col-sm-7 .SocialIcon:hover {
    background-color: hotpink !important;
}
